     /* FOR FORM  */
 /* +++++ FOr Small Screen +++++ */
@media (max-width:576px) {
    form {
        width: 90vw;
    }
}

/* For medium Screens  */
@media (max-width:768px) {
    form {
        width: 70vw;
    }
}  
        /* For TODO LIST  */
 /* +++++ FOr Small Screen +++++ */
@media (max-width:576px) {
    .toDoListContainer {
        width: 90vw;
    }
}

/* For medium Screens  */
@media (max-width:768px) {
    .toDoListContainer{
        width: 70vw;
    }
}

